[defaults]
log_path = ./ansible.log
inject_facts_as_vars = False
stdout_callback = yaml
host_key_checking = False
allow_world_readable_tmpfiles=true
remote_tmp =/tmp/${HOME}/tmp
timeout=50
deprecation_warnings=False
[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
retries = 6