nextcloud.sputnik.local {
    tls /ssl/wildcard-sputnik.crt /ssl/wildcard-sputnik.key
    reverse_proxy nextcloud-web:80
    @mjs {
        path *.mjs
    }
    header @mjs Content-Type text/javascript
    log {
        output file /var/log/caddy/access_nextcloud.log
        format json
    }
}
onlyoffice.sputnik.local {
    tls /ssl/wildcard-sputnik.crt /ssl/wildcard-sputnik.key
    reverse_proxy onlyoffice:80 {
    header_up Authorization {>Authorization}
    header_up Access-Control-Allow-Origin *
}
}

