ansible==2.10.1
ansible-base==2.10.15
ansible-lint==5.3.2
bracex==2.3.post1
certifi==2022.6.15
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
commonmark==0.9.1
cryptography==37.0.4
distlib==0.3.5
enrich==1.2.7
filelock==3.8.0
idna==2.8
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
proxmoxer==1.1.1
py==1.11.0
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-gitlab==3.9.0
PyYAML==6.0
requests==2.28.1
requests-toolbelt==0.9.1
rich==12.5.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
tenacity==8.0.1
toml==0.10.2
tox==3.17.1
urllib3==1.25.11
virtualenv==20.16.3
wcmatch==8.4
